# Entornos virtuales
venv/
.env/
.conda/

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos de datos grandes
data/
*.csv
*.xlsx
*.npy
*.pkl

# Archivos de LaTeX/PDF
*.aux
*.log
*.out
*.pdf
*.tex
*.synctex.gz
*.bat

# Figuras
*.png

# Resultados, imagenes, y artifacts
artifacts/
results/
outputs/
logs/
images/

# Configuraciones locales
config_local.py
.env

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/

# temporary files
05xxxx_final_project_M1.md

# excepciones
!modules/M1_Data_Acquisition/notebooks/05_final_project_M1.pdf